<h1>BURGER APP</h1>

<div class="lists">
        <p class="listTitle">New Burger</p>
    <ol>
        {{#each burgers }}
           {{#unless devoured}}
              <li data-id="{{id}}">
                {{burger_name}}
                <button data-id="{{id}}" class="devourBtn">Devour!</button>
              </li>
           {{/unless}}
        {{/each}}
    </ol>
</div>

<div class="lists">
        <p class="listTitle">Devoured Burger</p>
    <ol>
        {{#each burgers}}
          {{#if devoured}}
            <li data-id="{{id}}">{{burger_name}}</li>
        {{/if}}
        {{/each}}
        
    </ol>
</div>

<div>
    <form id="submit">
        <input type="text" id="name" placeholder="Burger name">
        <button type="submit" id="submitBtn">Submit</button>
    </form>
</div>